$primary:	hsl(209, 29%,  30%);
$secondary:	hsl(209, 33%,  53%);
$light:		hsl(209, 100%, 97%);
$dark:      hsl(209, 29%,  22%);
$gray:		hsl(209, 47%,  85%);

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$line-height-base: 1.6;

$headings-font-family: 'Oswald', sans-serif;

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);