// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400;1,600&display=swap');

// Variables
@import 'variables';

// Fontawesome
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.hover-show a, .hover-show button, .hover-show .btn-group, .hover-show .hover-hide{
    visibility: hidden;
}

.hover-show:hover a, .hover-show:hover button,  .hover-show:hover .btn-group, .hover-show:hover .hover-hide, .hover-show .force-show{
    visibility: visible;
}

h1 .text-muted{
    font-weight: lighter;
}

.title-header{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.title-header h1, .title-header .btn{
    margin-top: 24px;
}

.title-header .subheader{
    @extend .text-muted;
    @extend .fst-italic;
}

.title-header .subheader+h1{
    margin-top: 4px;
}

td{
    vertical-align: middle;
}

.subnav .navbar-text{
    color: var(--bs-navbar-brand-color);
    font-size: 18px;
}

.leerplan{
    margin: 1rem;
    min-height: calc(100vh - 2rem - 120px);
}

.module{
    border: 1px solid black;
    opacity: 0.9;
    margin-top: -1px; //de randen over elkaar laten vallen
}


.vak-header{
    position: relative;
}
.vak-header-left{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: left 0.1s ease, transform 0.1s ease;
}
.vak-header:hover .vak-header-left{
    left: 0;
    transform: none;
    text-align: left;
}
.vak-header .vak-header-right{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: visibility 0s, opacity 0.2s ease;
}
.vak-header:hover .vak-header-right{
    visibility: visible;
    opacity: 1;
}

.break-my-page h1{
    page-break-before: always;
}

.break-my-page .trix-content h1{
    page-break-before: auto !important;
}

.btn-outline-white {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: white;
}

.btn-outline-black {
    --bs-btn-color: black;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: black;
}

.vak-header .btn{
    background: white;
    white-space: nowrap;
}

.vak-header .btn:hover{
    background-color: var(--bs-btn-hover-bg);
}
